Connected Services/CardReq/CardRequest3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Veneka.Indigo.ServicesCardManagement.API.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Veneka.Indigo.ServicesCardManagement.API.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CardManagementResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="AWBDetail" nillable="true" type="tns:AWBDetails" />
      <xs:element minOccurs="0" name="Recipient" nillable="true" type="tns:ReceipientDetails" />
      <xs:element minOccurs="0" name="ResponseCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResponseMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CardManagementResponse" nillable="true" type="tns:CardManagementResponse" />
  <xs:complexType name="AWBDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="AWBRef" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CardReferenceNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerNames" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaskedCardNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AWBDetails" nillable="true" type="tns:AWBDetails" />
  <xs:complexType name="ReceipientDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDnumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Names" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReceipientDetails" nillable="true" type="tns:ReceipientDetails" />
</xs:schema>