Connected Services/Auth/AuthenticationAPI32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Veneka.Indigo.ServicesAuthentication.API.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Veneka.Indigo.ServicesAuthentication.API.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://52.157.107.105:505/AuthenticationAPI.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Veneka.Indigo.Common.Models" />
  <xs:complexType name="AuthenticationResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="AuthToken" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Profile" nillable="true" type="tns:UserProfile" />
      <xs:element minOccurs="0" name="RequireMultiFactor" type="xs:boolean" />
      <xs:element minOccurs="0" name="ResponseCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResponseMessage" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Veneka.Indigo.Common.Models" minOccurs="0" name="UserRoles" nillable="true" type="q1:ArrayOfGroupsRolesResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthenticationResponse" nillable="true" type="tns:AuthenticationResponse" />
  <xs:complexType name="UserProfile">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactInfo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserProfile" nillable="true" type="tns:UserProfile" />
</xs:schema>