Connected Services/Auth/AuthenticationAPI.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://schemas.veneka.com/Indigo/ServicesAuthentication" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="AuthenticationAPI" targetNamespace="http://schemas.veneka.com/Indigo/ServicesAuthentication" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IAuthentication_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://schemas.veneka.com/Indigo/ServicesAuthentication/Imports">
      <xsd:import schemaLocation="https://52.157.107.105:505/AuthenticationAPI.svc?xsd=xsd0" namespace="http://schemas.veneka.com/Indigo/ServicesAuthentication" />
      <xsd:import schemaLocation="https://52.157.107.105:505/AuthenticationAPI.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://52.157.107.105:505/AuthenticationAPI.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Veneka.Indigo.ServicesAuthentication.API.DataContracts" />
      <xsd:import schemaLocation="https://52.157.107.105:505/AuthenticationAPI.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Veneka.Indigo.Common.Models" />
      <xsd:import schemaLocation="https://52.157.107.105:505/AuthenticationAPI.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAuthentication_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IAuthentication_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthentication_LoginExt_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginExt" />
  </wsdl:message>
  <wsdl:message name="IAuthentication_LoginExt_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginExtResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthentication_MultiFactor_InputMessage">
    <wsdl:part name="parameters" element="tns:MultiFactor" />
  </wsdl:message>
  <wsdl:message name="IAuthentication_MultiFactor_OutputMessage">
    <wsdl:part name="parameters" element="tns:MultiFactorResponse" />
  </wsdl:message>
  <wsdl:portType name="IAuthentication">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://schemas.veneka.com/Indigo/ServicesAuthentication/IAuthentication/Login" message="tns:IAuthentication_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://schemas.veneka.com/Indigo/ServicesAuthentication/IAuthentication/LoginResponse" message="tns:IAuthentication_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoginExt">
      <wsdl:input wsaw:Action="http://schemas.veneka.com/Indigo/ServicesAuthentication/IAuthentication/LoginExt" message="tns:IAuthentication_LoginExt_InputMessage" />
      <wsdl:output wsaw:Action="http://schemas.veneka.com/Indigo/ServicesAuthentication/IAuthentication/LoginExtResponse" message="tns:IAuthentication_LoginExt_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MultiFactor">
      <wsdl:input wsaw:Action="http://schemas.veneka.com/Indigo/ServicesAuthentication/IAuthentication/MultiFactor" message="tns:IAuthentication_MultiFactor_InputMessage" />
      <wsdl:output wsaw:Action="http://schemas.veneka.com/Indigo/ServicesAuthentication/IAuthentication/MultiFactorResponse" message="tns:IAuthentication_MultiFactor_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IAuthentication" type="tns:IAuthentication">
    <wsp:PolicyReference URI="#WSHttpBinding_IAuthentication_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://schemas.veneka.com/Indigo/ServicesAuthentication/IAuthentication/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginExt">
      <soap12:operation soapAction="http://schemas.veneka.com/Indigo/ServicesAuthentication/IAuthentication/LoginExt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MultiFactor">
      <soap12:operation soapAction="http://schemas.veneka.com/Indigo/ServicesAuthentication/IAuthentication/MultiFactor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AuthenticationAPI">
    <wsdl:port name="WSHttpBinding_IAuthentication" binding="tns:WSHttpBinding_IAuthentication">
      <soap12:address location="https://52.157.107.105:505/AuthenticationAPI.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://52.157.107.105:505/AuthenticationAPI.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>