Connected Services/Auth/AuthenticationAPI31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Veneka.Indigo.Common.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Veneka.Indigo.Common.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://52.157.107.105:505/AuthenticationAPI.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
  <xs:complexType name="ArrayOfGroupsRolesResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GroupsRolesResult" nillable="true" type="tns:GroupsRolesResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGroupsRolesResult" nillable="true" type="tns:ArrayOfGroupsRolesResult" />
  <xs:complexType name="GroupsRolesResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q1:ComplexObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="issuer_code" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="issuer_name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="user_group_id" type="xs:int" />
          <xs:element minOccurs="0" name="user_group_name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="user_role" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GroupsRolesResult" nillable="true" type="tns:GroupsRolesResult" />
</xs:schema>